*,
body {
  font-family: "Montserrat", "sans-serif";
  box-sizing: border-box;
  margin: 0;
  text-decoration: none;
}

a {
  color: black;
}

header {
  display: flex;
  position: sticky;
  top: 0;
  z-index: 50;
  padding-top: 2rem;
  padding-bottom: 2rem;
  justify-content: center;
  align-items: center;
  border-color: #000000;
  background-color: #d5f9dd;
  border-bottom: 2px solid black;
}

header .layout_custom {
  width: 100%;
  max-width: 72rem;
  margin: 0 auto;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.container {
  display: flex;
  margin-left: 1.5rem;
  flex: 1 1 0%;
  justify-content: center;
  align-items: center;
  gap: 4rem;
}

.container .items {
  text-decoration: none;
  color: black;
  font-size: 16px;
  transition: color 0.3s ease, transform 0.3s ease;
}

.container .items:hover {
  color: darkgrey;
  transform: scale(1.1);
}

.contact {
  text-decoration: none;
  color: black;
  font-size: 16px;
  margin-left: 1rem;
  transition: color 0.3s ease;
}

.contact:hover {
  color: darkgrey;
}

.btn-primary {
  background-color: black;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 9999px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.3s ease;
  margin-left: 3rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  padding-left: 1rem;
  padding-right: 1rem;
}

.btn-primary:hover {
  background-color: "darkgrey";
  transform: translateY(-3px);
}

a,
button {
  display: inline-block;
  text-align: center;
}

.nav {
  display: flex;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  padding-left: 1rem;
  padding-right: 1rem;
  align-items: center;
  border-radius: 9999px;
  font-weight: 600;
  color: #374151;
  background-color: #ffffff;
  border: 2px solid #000000;
}

.nav .nav-text {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  padding-left: 1rem;
  padding-right: 1rem;
  font-weight: 700;
  color: #000000;
  background-color: #ffffff;
}
